[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=-/usr/bin/docker rm -f kubelet
ExecStart=/usr/bin/docker run \
    --volume=/:/rootfs:ro \
    --volume=/sys:/sys:ro \
    --volume=/etc/kubernetes:/etc/kubernetes:ro \
    --volume=/var/lib/docker/:/var/lib/docker:rw \
    --volume=/var/lib/kubelet/:/var/lib/kubelet:shared \
    --volume=/var/run:/var/run:rw \
    --net=host \
    --pid=host \
    --privileged=true \
    --name=kubelet \
    -d \
    gcr.io/google_containers/hyperkube-amd64:v__K8s_VERSION__ \
    /hyperkube kubelet \
        --containerized \
        --api-servers=https://__MASTER_IP__ \
        --address=__LOCAL_IP__ \
        --network-plugin=cni \
        --network-plugin-dir=/etc/cni/net.d \
        --allow-privileged=true \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --hostname-override=__LOCAL_IP__ \
        --cluster_dns=__K8S_DNS_SERVICE_IP__ \
        --cluster_domain=__K8S_DNS_DOMAIN__ \
        --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
        --tls-cert-file=/etc/kubernetes/tls/node.pem \
        --tls-private-key-file=/etc/kubernetes/tls/node-key.pem
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/
[Install]
WantedBy=multi-user.target