[Unit]
Description=Kubernetes kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/curl -Lskj -o /usr/local/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v__K8S_VERSION__/bin/linux/amd64/kubelet
ExecStartPre=/bin/chmod +x /usr/local/bin/kubelet
ExecStart=/usr/local/bin/kubelet \
        --api-servers=https://__MASTER_IP__ \
        --address=__LOCAL_IP__ \
        --network-plugin=cni \
        --network-plugin-dir=/etc/cni/net.d \
        --allow-privileged=true \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --hostname-override=__HOSTNAME__ \
        --cluster-dns=__K8S_DNS_SERVICE_IP__ \
        --cluster-domain=__K8S_DNS_DOMAIN__ \
        --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
        --tls-cert-file=/etc/kubernetes/tls/node.pem \
        --tls-private-key-file=/etc/kubernetes/tls/node-key.pem
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/
[Install]
WantedBy=multi-user.target
