[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=-/usr/bin/docker rm -f kubelet
ExecStart=/usr/bin/docker run \
    --volume=/:/rootfs:ro \
    --volume=/sys:/sys:ro \
    --volume=/etc/kubernetes:/etc/kubernetes:ro \
    --volume=/var/lib/docker/:/var/lib/docker:rw \
    --volume=/var/lib/kubelet/:/var/lib/kubelet:rw \
    --volume=/var/run:/var/run:rw \
    --net=host \
    --pid=host \
    --privileged=true \
    --name=kubelet \
    -d \
    gcr.io/google_containers/hyperkube-amd64:v__K8S_VERSION__ \
    /hyperkube kubelet \
        --address=__MASTER_IP__ \
        --api-servers=http://__MASTER_IP__:8080 \
        --register-schedulable=false \
        --allow-privileged=true \
        --cni-bin-dir=/opt/cni/bin \
        --cni-conf-dir=/etc/cni/net.d \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --hostname-override=__HOSTNAME__ \
        --cluster-dns=__K8S_DNS_SERVICE_IP__ \
        --cluster-domain=__K8S_DNS_DOMAIN__
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/
[Install]
WantedBy=multi-user.target
